.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
}
.navlogo{
    width: 200px;
}
.navprofile{
    width: 75px;
}
@media(max-width:  800px){
    .navbar{
        padding: 15px 30px;
    }
    .navlogo{
        width: 150px;
    }
    .navprofile{
        width: 60px;
    }
}